.footer {
  display: block;
  background-color: rgba(151, 150, 150, 0.882);
}
.Left {
  text-align: left;
  /* float: left; */
  display: inline-flex;
  margin-left: 20%;
}
.Right {
  float: right;
  text-align: right;
}
.card-img-right {
  height: 100%;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text-center {
  color: rgb(0, 0, 0);
  margin-top: 30%;
  padding-right: 10%;
}
.copyright {
  font-size: x-small;
}
.text-uppercase {
  margin-top: 10%;
}
.bi {
  color: rgb(0, 0, 0);
}
