.navbar2 {
  position: fixed;
  z-index: 100;
}

.navbar-brand {
  width: 100%;
}

.navbar-brand img {
  width: 15%;
}

.navbar-nav .nav-item {
  margin-right: 20px;
}

.items {
  align-content: center;
}
