.navbar2 {
  position: fixed;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}
.main-container {
  background-image: url("../images/Back2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container__card {
  padding-top: 10%;
  display: block;
}

.radiocheck {
  display: inline-flex;
  margin-top: 100px;
  margin-left: 40%;
}

.property-message {
  width: 25%;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  background-color: rgb(167, 172, 172);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
